<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>短消息平台</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/sms.css}" />
<script type="text/javascript" th:src="@{/scripts/jquery-1.12.4.js}"></script>
<!--[if IE 6]>
<script type="text/javascript" th:src="@{scripts/DD_belatedPNG.js}"></script>
<script type="text/javascript">DD_belatedPNG.fix('.png');</script>
<![endif]-->
<script type="text/javascript">
$(function(){
	$(".btn-reg").bind("click", function(){
		window.location.href = "register";
	});
});

function check(){
	var username = document.getElementById("username");
	var password = document.getElementById("password");
	var error = document.getElementById("error");
	if(username.value == ""){
		error.innerHTML="用户名不能为空!";
		username.focus();
		return false;
	}else if(password.value == ""){
		error.innerHTML="密码不能为空！";
		password.focus();				
		return false;
	}
	return true;
}
</script>
</head>
<body>
<div id="loginTitle" class="png"></div>
<div id="loginForm" class="userForm png">
	<form method="post" name="loginform" th:action="@{/doLogin}" onSubmit="return check()">
		<dl>
			<p id="error" style="color: red"></p>
			<!--	如果msg为空，不显示		-->
			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<dt>用户名：</dt>
			<dd><input type="text" name="uname" id="username"/></dd>
			<dt>密　码：</dt>
			<dd><input type="password" name="upwd" id="password"/></dd>
		</dl>
		<div class="buttons">
			<input class="btn-login png" type="submit" name="submit" value=" " /><input class="btn-reg png" type="button" name="register" value=" " />
		</div>		
	</form>
</div>
</body>
</html>

