<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>学士后 在线短信平台</title>
	<link type="text/css" rel="stylesheet" th:href="@{css/sms.css}" />
	<script type="text/javascript" th:src="@{scripts/jquery-1.12.4.js}"></script>
</head>
<script type="text/javascript">
	function check(){
		var username = document.getElementById("username");
		var password = document.getElementById("password");
		var affirm = document.getElementById("affirm");
		var email = document.getElementById("email");
		var reg = /^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
		if(username.value == ""){
			alert("用户名不能为空！");
			return false;
		}else if(password.value == ""){
			alert("密码不能为空！");
			return false;
		}else if(password.value != affirm.value){
			alert("两次密码不同！");
			return false;
		}else if(email.value == ""){
			alert("邮箱不能为空！");
			return false;
		}else if(!reg.test(email.value)){
		    alert("邮箱格式不对！");
			return false;
		}
		
		return true;
	}
</script>
<body>
<div id="regTitle" class="png"></div>
<div id="regForm" class="userForm png">

	<form action="UserServlet?action=register" onsubmit = "return check()" method="post">
		<dl>
		   
			<dt>用 户 名：</dt>
			<dd><input type="text" name="username" id="username" value=""/></dd>
			<dt>密　　码：</dt>
			<dd><input type="password" name="password" id="password" /></dd>
			<dt>确认密码：</dt>
			<dd><input type="password" name="affirm"  id="affirm"/></dd>
			<dt>邮　　箱：</dt>
			<dd><input type="text" name="email" id="email" /></dd>
		</dl>
		<div class="buttons">
			<input class="btn-reg png" type="submit" name="register" value=" " /><input class="btn-reset png" type="reset" name="reset" value=" " />
		</div>
		<div class="goback"><a th:href="@{index.html}" class="png">返回登录页</a></div>
	</form>
</div>
</body>
</html>
