<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.mapper.UserMapper">

    <select id="FingByNameAndPwd" parameterType="User" resultType="User">
        select * from user where uname=#{uname} and upwd=#{upwd}
    </select>

    <insert id="addUser" parameterType="User">
        insert into user(uname, upwd, email) values (#{uname}, #{upwd}, #{email})
    </insert>

    <select id="findByUid" parameterType="int"  resultType="User">
        select * from user where uid=#{uid}
    </select>

    <select id="findByName" parameterType="String" resultType="User">
        select * from user where uname=#{unname}
    </select>

</mapper>